.Prograss{
    background-color: rgba(0,0,0,0.2);
    width: 200px;
    border-radius:10px;
    height:7px;
}
.PrograssPa{
    background-color:#fe5196;
    height:100%;
    min-width: 0;
    max-width: 100%;
    width:50%;
    transition: linear;
}